<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <title>Essential Words - Home</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/css/style.css?v=1.0">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body class="home-page">
    <main class="main">
        <header class="header">
            <a class="logo">Quiz</a>

            <nav class="navbar">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="mailto:sshermatov50@gmail.com">Contact</a>
                <!-- <a href="{% url 'login_view' %}">Sign In</a> -->
            </nav>
        </header>

        <div class="container">
            <section class="home">
                <div class="home-content">
                    <h1>Essential Words</h1>
                    <p></p>
                    <button class="start-btn">Get started</button>
                </div>
            </section>

            <footer class="footer">
                <p>&copy; 2024-2025 Essential Words. All rights reserved.</p>
            </footer>
        </div>
    </main>

    <div class="popup-info">
        <h2>Which language do you want to learn?</h2>
        <div class="languages-btn">
            <button class="info-btn german-btn"></button>
            <button class="info-btn english-btn"></button>
        </div>
        <div class="btn-group">
            <button class="exit-btn">Back</button>
        </div>
    </div>

    <div class="essentials-popup">
        <h2>Select desired book to practise</h2>
        <div class="essentials-btn">
            <button class="essential E1">Essential 1</button>
            <button class="essential E2">Essential 2</button>
            <button class="essential E3">Essential 3</button>
        </div>
        <div class="essentials-btn">
            <button class="essential E4">Essential 4</button>
            <button class="essential E5">Essential 5</button>
            <button class="essential E6">Essential 6</button>
        </div>
        <div class="btn-group">
            <button class="backToLang-btn">Back</button>
        </div>
    </div>

    <div class="error-popup">
        <h2>Not available yet</h2>
        <button class="OK-btn">OK</button>
    </div>

    <div class="unit-popup">
        <h2>Choose the unit</h2>
        <div class="unit-container">
            <div class="unit-list">
                <button class="unit">1</button>
                <button class="unit">2</button>
                <button class="unit">3</button>
                <button class="unit">4</button>
                <button class="unit">5</button>
                <button class="unit">6</button>
                <button class="unit">7</button>
                <button class="unit">8</button>
                <button class="unit">9</button>
                <button class="unit">10</button>
            </div>
            <div class="unit-list">
                <button class="unit">11</button>
                <button class="unit">12</button>
                <button class="unit">13</button>
                <button class="unit">14</button>
                <button class="unit">15</button>
                <button class="unit">16</button>
                <button class="unit">17</button>
                <button class="unit">18</button>
                <button class="unit">19</button>
                <button class="unit">20</button>
            </div>
            <div class="unit-list">
                <button class="unit">21</button>
                <button class="unit">22</button>
                <button class="unit">23</button>
                <button class="unit">24</button>
                <button class="unit">25</button>
                <button class="unit">26</button>
                <button class="unit">27</button>
                <button class="unit">28</button>
                <button class="unit">29</button>
                <button class="unit">30</button>
            </div>
        </div>
        <div class="btn-group2">
            <button class="backToEss-btn">Back</button>
        </div>
    </div>

    <script type="module" src="/static/JS/home.js?v=1.0"></script>
</body>
</html>