<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <title>Quiz Test</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/favicon/site.webmanifest">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/d57aa64010.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css?v=1.0">
</head>

<body class="quiz-page">
    <main class="main">
        <section class="quiz-section">
            <div class="quiz-box">
                <h1>Essential Quiz</h1>
                <div class="quiz-header">
                    <span class="question-total">1 of 5 questions</span>
                    <span class="header-score">Score: 0 / 5</span>
                </div>
                
                <div class="question-line">
                    <h2 class="question-text"></h2>
                    <button class="audio" data-accent="british" ><i class="fas fa-volume-up"></i>
                    </button>
                    <button class="audio" data-accent="american" ><i class="fas fa-volume-up"></i>
                    </button>
                </div>
                
                <div class="option-list"></div>
                
                <div class="quiz-footer">
                    <button class="backToUnit-btn">Back</button>
                    <button class="next-btn">Next</button>
                </div>
            </div> 
        </section>

        <script type="module" src="/static/JS/quiz.js?v=1.0"></script>
    </main>
</body>
</html>
